*{margin:0;padding: 0;}
body{background:#5D5D5D;}
header#hd{background: #2A2A2A; width: 100%; height: 33px; text-align: center; padding-top: 18px; font:20px arial; color: #fff; margin-bottom: 10px;}
b.b1{color: #3D9150;}
div#game_status{background: #2A2A2A; width: 100%; height: 33px; text-align: center; padding-top: 18px; font:20px arial; color: #fff; margin-bottom: 30px;}
b.b2{color: #FF9900;}
section#score {width: 311px; height: 53px; background:#999999; border:2px solid #5D5D5D; border-bottom: none; 
margin: 0px auto; border-radius: 2px; text-align: center; font:30px 'american', verdana, arial; color: #fff; padding-top: 13px;}
section#game{width: 850px; height: 521px; background: #4B4B4B; margin: -30px auto; border-radius: 15px; border-radius: 5px;}
section#game #players {height: 42px; background: #999999; padding: 29px 0px 0px 15px; font: 25px 'american', verdana, arial; color: #fff;}
section#game #players #player1{width:300px; float: left; margin-left: 35px;}
section#game #players #player2{width:260px; float: right;  padding-left: 40px;}
section#game #players #middle {width:120px; height: 58px; margin: -13px auto; padding:4px 20px 0px 20px;}
section#game #players #middle #p1,#p2 {width: 40px; font-size: 50px; margin-top: -8px;}
section#game #players #middle #p1 {float: left;}
section#game #players #middle #p2 {float:right;}
section#game #players #middle #line {width: 2px; height: 55px; margin: -5px auto; background: #5D5D5D;}
section#game #box {width:500px; height: 430px; margin: 15px auto; clear : both;}
section#game #box .boxs {width:110px; height: 90px; background: #E8E8E8; border-radius: 5px; float: left; margin:0 85px 40px 0; 
text-align: center; font-size: 90px; font-family: 'american', arial, verdana; padding-top: 20px;}
section#game #box .boxs:hover{background: #CCCCCC; cursor: pointer;}
section#game #box .marginr0 {margin-right: 0;}
section#game #box .marginb0 {margin-bottom: 0;}
.teste{background: #000;}
.mes{width:800px; margin:0 auto; height:32px; background:#CACA00; border: 2px solid #919100; border-radius: 3px; 
      text-align: center; font: bold 18px arial; color: #fff; padding-top: 13px; cursor: pointer; margin-bottom: 10px;}
/* Load Page CSS */
section#loading {
	width: 750px; height: 130px; background: #404040; margin:250px auto; border:2px solid #666666; 
	border-radius: 2px; text-align: center;font-family: 'american', arial, tahoma; color: #fff; font-size: 65px;}
	
div#text{margin-top: 20px; z-index:999; position: relative:;}
#gif{margin-top: -30px;}
@font-face{ 
	font-family: 'american';
	src: url('../fonts/american_purpose-webfont.eot');
	src: url('../fonts/american_purpose-webfont.eot#iefix') format('embedded-opentype'),
	     url('../fonts/american_purpose-webfont.woff') format('woff'),
	     url('../fonts/american_purpose-webfont.ttf') format('truetype'),
	     url('../fonts/american_purpose-webfont.svg#webfont') format('svg');
}
.jconfirm
{
	width: 300px;
	margin:0 auto;
}
@media(max-width: 768px)
{
	section#loading {
	    width: 100%;	    
	}
	section#score {
    width: 100%;   
	}
	section#game {
    width: 100%;
    height: 100%;
    }
    section#game #players #player1 {
	    width: 100%;
	    float: none;
	    margin-left: 0px; 
	    text-align: center;
	    line-height: 2;
	}
	section#game #players #player2 {
	    width: 100%;
	    float: none;
	    padding-left: 0;
	    text-align: center;
	}
	section#game #players {
	    height: auto;
	    background: #999999;
	    padding: 10px;
	    font: 25px 'american', verdana, arial;
	    color: #fff;
	}
	section#game #players #middle {
	    width: 120px;
	    height: 47px;
	    margin: 17px auto;
	    padding: 4px 20px 0px 20px;
	}
	section#game #box {
	    width: 100%;
	    height: 100%;
	    margin: 0px auto;
	}
	section#game #box .boxs {
	    width: 25%;
	    height: 80px;
	    background: #E8E8E8;
	    border-radius: 5px;
	    float: left;
	    margin:4%;
	    text-align: center;
	    font-size: 58px;
	    font-family: 'american', arial, verdana;
	    padding-top: 0px;
	    padding: 10px 0px 0px;
	}
	section#game #players #middle #line {
	    width: 2px;
	    height: 41px;
	    margin: 2px auto;
	    background: #5D5D5D;
	}
	div#game_status {
	    background: #2A2A2A;
	    width: 100%;
	    height: 33px;
	    text-align: center;
	    padding: 10px 0px;
	    font: 20px arial;
	    color: #fff;
	    margin-bottom: 30px;
	}
	.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default {
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    color: #333;
	    padding: 10px 20px;
	}
}

/* Popup */

/* Popup box BEGIN */
.hover_bkgr_fricc{
			background:rgba(0,0,0,.4);
			cursor:pointer;
			display:none;
			height:100%;
			position:fixed;
			text-align:center;
			top:0;
			width:100%;
			z-index:10000;
		}
		.hover_bkgr_fricc .helper{
			display:inline-block;
			height:100%;
			vertical-align:middle;
		}
		.hover_bkgr_fricc > div {
			background-color: #fff;
			box-shadow: 10px 10px 60px #555;
			display: inline-block;
			height: auto;
			max-width: 551px;
			min-height: 100px;
			vertical-align: middle;
			width: 60%;
			position: relative;
			border-radius: 2px;
			padding: 15px 5%;
		}
		.popupCloseButton {
			background-color: #fff;
			border: 3px solid #999;
			border-radius: 50px;
			cursor: pointer;
			display: inline-block;
			font-family: arial;
			font-weight: bold;
			position: absolute;
			top: -13px;
			right: -12px;
			font-size: 25px;
			line-height: 30px;
			width: 30px;
			height: 30px;
			text-align: center;
		}
		.popupCloseButton:hover {
			background-color: #ccc;
		}
		.trigger_popup_fricc {
			cursor: pointer;
			font-size: 20px;
			margin: 20px;
			display: inline-block;
			font-weight: bold;
		}
		/* Popup box BEGIN */
		.form-group
		{
			width:100%;
		}
		.form-group input
		{
			display: block;
			width: calc(99% - 20px);
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;	
		}		
		label
		{			
			float:left;
			padding:5px 0;			
		}
		.button-group
		{
			margin-top:30px;
		}
		.button-group .yes
		{
		    color: #fff;
			background-color: #5cb85c;
			border-color: #4cae4c;
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		.button-group .no
		{
		    color: #fff;
			background-color: #ac2925;
			border-color: #761c19;
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
		}
/* Popup box BEGIN */
